* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%
}
body {
  height: 100%;
}

form {
  /* background: #000; */
  padding: 15px;
  float: right;
  /* width: 60%; */
  /* left: 33%; */
}

form input {
  /* position: fixed; */
  /* border: solid; */
  /* padding: 10px; */
  float: right;
  width: 60%;
  /* margin-right: .5%; */
}

form button {
  float: right;
  /* width: 12.5%; */
  /* background: white; */
  /* right: 0; */
  /* border: solid; */
  /* padding: 10px;*/
}

#messages {
  float: right;
  list-style-type: none;
  margin: 0;
  height: 90%;
  border-bottom: 1px solid #ced4da;

  overflow-y: auto;
}

.self {
  background: #05728f !important;
  color: #fff !important;
  float: right !important;
}

#messages li {
  float: left;
  padding: 5px 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #ebebeb;
  border-radius: 3px;
  color: #646464;
  width: auto;
  clear: both;
}



.container{
  height: 100%;
  width: 100%;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/*
#overlay {
  position: fixed;
  display: block;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
*/
#createoverlay {
  position: absolute;
  display: none;
}

/*
#login {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 60%;
  left: 35%
}

#create {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 60%;
  left: 55%
}

#usernameBox {
  position: fixed;
  width: 30%;
  height: 5%;
  top: 40%;
  left: 35%
}

#passwordBox {
  position: fixed;
  width: 30%;
  height: 5%;
  top: 50%;
  left: 35%
}

#username {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 41%;
  left: 29%
}

#password {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 51%;
  left: 29%
}

#submit {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 60%;
  left: 35%
}
/*
#back {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 60%;
  left: 55%
}

#usernameBoxCreate {
  position: fixed;
  width: 30%;
  height: 5%;
  top: 40%;
  left: 35%
}

#passwordBoxCreate {
  position: fixed;
  width: 30%;
  height: 5%;
  top: 45%;
  left: 35%
}

#emailBoxCreate {
  position: fixed;
  width: 30%;
  height: 5%;
  top: 50%;
  left: 35%
}

#email {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 51%;
  left: 29%
}

#passwordCreate {
  position: fixed;
  width: 10%;
  height: 5%;
  top: 46%;
  left: 29%
}*/
#friends {
  float: left;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ced4da;
  padding-top: 15px;
  z-index: 2;
}
#msg {
  height: 100%;
  float: right;
}
#send{
  width: 100%;
}
#textBoxButtons {
  display: flex;
  /* padding-top: 100%; */
  height: 0;
  width: 66%;
}
